* {
    margin: 0;
    padding: 0;
}

:root {
    --red: #973131;
    --title: 'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif;
    --light-bg: #666;
    --light-bg-white: #ccc;
}

/* * {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
} */

/* *::selection {
    background-color: var(--purple);
    color: var(--white);
}

*::-webkit-scrollbar {
    height: .5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--purple);
} */


.main {
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

/* header page */
nav {
    position: relative;
    width: 100%;
    height: 200px;
    z-index: 999;
}

.navbar-expand-lg .navbar-nav {
    width: 100%;
    justify-content: end;
    padding-right: 50px;
}

.navbar-nav .nav-item {
    margin: 0px 10px;
}

.navbar-nav .navbar-icon {
    display: flex;
    flex-direction: row;
}

h1 {
    color: #6902fa;
}

.navbar-icon {
    list-style: none;
}

/* header page detail over */

/* regestation form */
.form-container {
    width: 100%;
    margin: 70px auto;
}

.form-container form {
    width: 500px;
    flex-direction: column;
    margin: 0 auto;
}

.form-container form input {
    width: 100%;
    margin: 10px auto;
    padding: 10px 0px;
    border: 1px solid black;
    text-indent: 20px;
}

.form-container form select {
    width: 100%;
    margin: 10px auto;
    padding: 10px 0px;
    border: 1px solid black;
    text-indent: 20px;
}

/* slider */
.hero-slider {
    position: relative;
    z-index: 0;
    background-color: #6902fa;
}

.mySwiper {
    width: 100%;
    margin: 0 auto;
}

.mySwiper img {
    width: 100%;
    height: 100%;
}

.Trip-list {
    width: 100%;
}

.col-lg-4 {
    width: 32%;
}

.trip-card {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 15px auto;
    text-align: left;
}

.trip-card img {
    width: 100%;
    height: auto;
}

/* admin side css */
.add-trip {
    width: 100%;
}

.add-trip form {
    width: 100%;
}

.add-trip form input {
    width: 100%;
}

.Destination-card {
    width: 100%;
    margin: 30px auto;
}

.Destination-card img {
    width: 100%;
    height: 100%;
}

.destination-card {
    width: 100%;
}

.destination-card h2 {
    font-size: 20px;
    margin-top: 10px;
}

.destination-card p {
    color: #666;
}


/* preloader animation */
/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should be a color other than white */
    z-index: 99;
    /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally on the screen */
    top: 50%;
    /* centers the loading animation vertically on the screen */
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvkXciXd_bcjuWYuJTgHML765AeIo5zqaGJEWHkYz0Yq5j0PBB');
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}

.index-trip {
    width: 100%;
}

.index-trip .trip-card {
    width: 32%;
}

.destination-card-circle {
    margin: 10px auto;
}

.destination-card-circle .Destination-card img {
    width: 100%;
    height: 100%;
}

/* trip types package */
.trip-types-package {
    width: 100%;
}

.trip-types-package .trip-types {
    width: 100%;
}

.trip-types-package .trip-types img {
    width: 100%;
    height: 100%;
}


.contact-us form label {
    width: 100%;
}

.contact-us form input {
    width: 100%;
    margin: 20px auto;
    padding: 10px 0px;
    border: 1px solid black;
    text-indent: 20px;
}

.contact-us form textarea {
    width: 100%;
    margin: 10px auto;
    padding: 10px 0px;
    border: 1px solid black;
    text-indent: 20px;
}

.contact-us form .btn {
    width: 25%;
    text-align: center;
    text-indent: 0px;
}

.trip-types-intrip {
    width: 50%;
    display: contents;
}

.trip2-card {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 15px auto;
    text-align: left;
}

.trip2-card img {
    width: 100%;
    height: 100%;
}